.pageWrapperDesktop {
  display: grid;
  grid-template-columns: 0.6fr 3fr;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

/* SideBar */
.pageWrapperDesktop > :first-child {
  grid-column: 1;
  height: 100vh;
  background-color: var(--bg-primary);
}

/* Outlet content */
.pageWrapperDesktop > :nth-child(2) {
  grid-column: 2;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 1rem 2rem 4rem;
}

.wrapperFooter {
  width: 100vw;
}

.pageWrapperMobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.pageWrapperMobile > *:first-child {
  overflow-y: auto;
  width: 100vw;
  padding: 1rem 2rem 4rem;
}
