.sidebarWrapper {
  background-color: var(--bg-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 80px;
  gap: 80px;
  padding-left: 20px;
  box-shadow: var(--shadow-medium);
}

.sidebarBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sidebarLink {
  font-weight: 500;
  font-size: 1.2em;
  color: var(--text-primary);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s ease-out;
}
.sidebarLink:hover {
  color: var(--color-blue);
  text-decoration: none;
  transform: scale(1.05);
}

.wrapperLogo {
  width: 100%;
}

.wrapperLogo img {
  width: 90%;
}

.active {
  color: var(--color-blue);
}
